.footer {
  height: 17.6rem;
  background-image: image-set('../img/footer-bg.jpg' 1x, '../img/footer-bg@2x.jpg' 2x, '../img/footer-bg@3x.jpg' 3x);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &__company-info {
    margin-top: 8.5rem;
    margin-left: 2.4rem;
  }
  &__icon-container {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
  }
  &__icon {
    background-color: transparent;
  }
  &__desp {
    font-size: 8px;
    font-weight: 300;
    line-height: 1.0;
    text-align: right;
    color: #7c7a7a;
  }
  &__company-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 6.5rem;
  }
  &__logo {
    width: 5.5rem;
    height: 5rem;
  }
  &__child {
    width: 5.5rem;
    height: 5rem;
  }
  &__title {
    margin-top: 1rem;
    font-size: 1.51rem;
    font-weight: 300;
    line-height: 0.94;
    color: #a7a2a2;
  }
}