.header {
  height: $header-height;
  z-index: 10;
  background-color: $color-secondary-light;

  &__home-button {
    position: absolute;
    left: 13%;
    top: 5rem;
    width: 6.8rem;
    height: 6.8rem;
  }

  &__nav-checkbox {
    display: none;
  }

  &__nav-button {
    z-index: 40;
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    cursor: pointer;
    // border: 1px solid transparent;
    // border-radius: 0.25rem;
    display: none;
    @include respond(phone) {
      display: inline-block;
    }
  }

  &__nav-button-icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__nav {
    position: fixed;
    display: flex;
    z-index: 30;
    left: 0;
    opacity: 0;
    width: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      $color-secondary-light,
      $color-primary-light
    );
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Safari */
    // animation: zoom 1s;
    // -webkit-animation: zoom 1s; /* Safari 与 Chrome */
  }

  &__nav-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    list-style: none;
    text-align: center;
  }

  &__nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  &__nav-content {
    margin: 1.5rem;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-size: 100%;

    &.active,
    &:active,
    &:hover {
      color: $color-primary;
    }
  }

  &__nav-checkbox:checked ~ &__nav {
    @include respond(phone) {
      opacity: 1;
      width: 100%;
    }
  }
  &__nav-checkbox:checked ~ &__nav-button {
    @include respond(phone) {
      position: fixed;
    }
  }

  //在按钮hover状态下添加向上和向下的动画
  &__nav-button:hover &__nav-button-icon::before {
    top: -1rem;
  }
  &__nav-button:hover &__nav-button-icon::after {
    top: 1rem;
  }

  //在checkbox选中的状态下，设置icon背景色透明，并旋转before和after的内容
  &__nav-checkbox:checked + &__nav-button &__nav-button-icon {
    background-color: transparent;
  }
  &__nav-checkbox:checked + &__nav-button &__nav-button-icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__nav-checkbox:checked + &__nav-button &__nav-button-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
