.section6-container {
  height: 69.7rem;
  @include respond(tab-port) {
    height: 50rem;
  }
  background-color: $color-white;
  position: relative;

  &__back-top {
    position: absolute;
    top: 23.9rem;
    left: 7.1rem;
    width: 5rem;
    height: 5rem;
  }
}
