$color-primary: #28c8c6;
$color-text-dark: #333;
$color-text-dark-2: #666;
$color-text-dark-3: #999;
// COLORS
$color-primary-light: #a100ff;
$color-primary-dark: #28b485;
$color-secondary-light: #af47eb;
$color-secondary-dark: #370455;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000; // FONT
$default-font-size: 1.6rem; // GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; //Component
$header-height: 13rem;
