@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../fonts/FiraSans-Bold.otf');
  font-weight: Bold;
}


@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham Bold.otf');
  font-weight: Bold;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.otf');
  font-weight: Bold;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Bold.otf');
  font-weight: Regular;
}
