.panel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 6rem;
  margin-bottom: 0.2rem;

  &__icon {
  }

  &__name {
    margin-top: 1.1rem;
    font-weight: 900;
    font-size: 0.8rem;
    color: $color-blue;
  }
}
